# ======================
# Python / FastAPI
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.sqlite3
.env

# Virtual Environment
myenv/
venv/
.env/

# ======================
# Node / Frontend
# ======================
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
dist/
build/

# ======================
# OS / Editor
# ======================
.vscode/
.idea/
.DS_Store
Thumbs.db
